In [ ]:
import pandas as pd

file_path = "tmp/taxi_trip/yellow_tripdata_2022-01.parquet"

df = pd.read_parquet(file_path)

print(df)

In [ ]:
# null value
# date range
#

In [2]:
"""Connection for databases."""

from urllib.parse import quote_plus

from sqlalchemy import create_engine
from sqlalchemy.engine.base import Connection

import pandas as pd


def get_postgresql_conn(
    database: str,
    user: str,
    password: str,
    host: str,
    port: int = 5432,
    connect_args: dict | None = None,
) -> Connection:
    """Get PostgreSQL connection."""
    user = quote_plus(user)
    password = quote_plus(password)

    return create_engine(
        f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}",
    ).connect()

In [ ]:
df = pd.read_sql("select * from organization", conn)
print(df)

In [5]:
with get_postgresql_conn(
    database="postgres",
    user="postgres",
    password="mypassword",
    host="172.28.5.12",
) as conn:
    df = pd.read_sql("select * from dbt_stg.weather", conn)

In [6]:
df

Empty DataFrame
Columns: [city, temp_lo, temp_hi]
Index: []

In [7]:
df.loc[0] = ["123", 1, 2]
df

  city  temp_lo  temp_hi
0  123        1        2

In [12]:
with get_postgresql_conn(
    database="postgres",
    user="postgres",
    password="mypassword",
    host="172.28.5.12",
) as conn:
    df.to_sql(name="weather", con=conn, schema="dbt_stg", index=False, if_exists="replace")